body {
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  color: #333;
}
.text-content {
  margin: 40px auto;
  max-width: 850px;
  padding: 0 10px;
}

.text-content a {
  color: #B83027 !important;
}
