@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
html {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Serif', sans-serif !important;
  font-size: 16px !important;
  color: #333 !important;
  height: 100%;
}
.cont {
  height: 100%;
  position: relative;
}
#root {
  height: 100%;
}
.content {
  margin: 40px auto 0px;
  padding: 0 20px 0 40px;
  height: 100vh;
}
.text-content {
  margin: 40px auto;
  max-width: 850px;
  padding: 0 10px;
}

.text-content a {
  color: #B83027 !important;
}
button {
  border-color: white !important;
  background-color: #B83027 !important;
  color: white !important;
}
button:hover {
  background-color: #972016 !important;
}
.browse-data {
  margin: 20px auto;
  padding: 0 20px;
}
.data-vis{
  padding: 0 20px;
}